/* -------------------  cards  -----------------*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 200px;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(1000px) rotateY(-20deg);
    transition: 0.2s;
}
   

.card:hover {
    cursor: pointer;
    transform: perspective(1000px) rotateY(0deg);

    filter: drop-shadow(0px 0px 5px var(--grey));
}

.content {
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 88%;
    background-color: white;
    border-radius: 8px;
}

.content>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4) inset;

    p {
        font-weight: bold;
        font-size: 14px;
    }
}

.content>.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    padding-left: 15px;
    padding-right: 15px;

    img {
        width: 100%;
    }
}

.content>.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding-left: 30px;
    padding-right: 30px;

    img {
        height: 90%;
        /* width: 100%; */
        object-fit: cover;
        margin: 0 8px;
    }
}