/* ------------------- Header -----------------*/

/* https://bennettfeely.com/clippy/ */
header {
    background: var(--header_color);
    color: var(--bg_color);

    padding: 10px var(--padding_calc);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: var(--height-header);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;    
    /* clip-path: polygon(0 0, 20% 0, 50% 50%, 100% 0, 100% 100%, 0 100%);  */
    /* clip-path: polygon(100% 0, 100% 80%, 70% 80%, 40% 100%, 0 100%, 0 0); */
    /* clip-path: path("M 0 0 H 100 V 80 Q 70 80 40 100 T 0 100 Z"); */
    box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.6) inset, 0px 10px 5px 1px rgba(255, 255, 255, 0.4) inset;
}

header>img {
    width: 80px;
}

header>img:hover {
    cursor: pointer;
    scale: 1.05;
}

/* -------------------  Navbar  -----------------*/
nav>img {
    cursor: pointer;
    height: var(--height_img);
}

nav>img:hover {
    filter: drop-shadow(0px 0px 2px var(--bg_color));
}