/* -------------------  Hauptbereich  -----------------*/

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px var(--padding_calc);
    margin-top: var(--height-header);

    background: var(--basic_white);
}

button {
    padding: 8px 16px;
    background: var(--grey);
    color: var(--basic_white);
    border: none;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    border-radius: 10%;
}

button:hover {
    scale: 1.05;
}

#content-profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
    justify-content: center;
    align-content: center;
    margin-bottom: 32px;
}

#gallery-profiles {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}


.loading-spinner {
    width: 100%;
    text-align: center;
    height: 20px;
}

.loading-spinner>img {
    text-align: left;
    margin: 0 auto;
    height: 40px;

    object-fit: cover;
    /* animation: spin 1s linear infinite; */
    animation: spin 1s linear infinite normal none;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}





/* animation: myAnim 2s ease 0s 1 normal forwards; */

@keyframes myAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}