/* -------------------  Hauptbereich  -----------------*/

main {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 16px var(--padding_calc);
    margin-top: var(--height-header);

    background: var(--basic_white);
}

button {
    padding: 8px 16px;
    background: var(--grey);
    color: var(--basic_white);
    border: none;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    border-radius: 10%;
    box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.6) inset;
}

button:hover {
    scale: 1.05;
}


#content-profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}


/* -------------------  cards  -----------------*/

.card-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--grey);
    border-radius: 5%;
    cursor: pointer;
    box-sizing: border-box;    
}

.card-container:hover {
    box-shadow: 0px -5px 10px 1px rgba(255, 255, 255, 0.4)  inset, 0px 10px 5px 1px rgba(0, 0, 0, 0.6) inset;    
}

.card-container img {
    width: 100%;
    object-fit: cover;
}

.card-container span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 4px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;

    background-color: var(--lightgrey);
    color: var(--basic_white);

    box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.6) inset, 0px 10px 5px 1px rgba(255, 255, 255, 0.4) inset;
}

.typ-color{
    background-color: green;
}

.card-typs {
    display: flex;
    justify-content: center;
}

.card-typs img {
    width: 50px;
    background: none;
}