@media(max-width: 480px) {
    header {
        flex-direction: column;
        height: 175px;
        justify-content: space-around;
    }
    
}

@media(max-width: 420px) {
    .card-info-container {
        width: 315px;
    }
    
}