#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);

    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.overflowHidden {
    overflow: hidden;
}

/* --------------- Card Overlay -----------------------*/
.card-info-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--basic_white);
    border-radius: 8px;
    box-sizing: border-box;

    border: 2px solid black;

    position: relative;
}

.card-info-container .card-info-header span,
.card-info-container .card-info-types span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* --------------- arrows -----------------------*/
.arrow {
    position: absolute;
    font-size: 52px;
    z-index: 5;
    color: var(--basic_black);
    background: none;

    display: flex;
    flex-direction: column;

    bottom: 16px;

    cursor: pointer;
    opacity: 50%;
    filter: drop-shadow(0px 0px 2px var(--basic_white));
}

.arrow:hover {
    opacity: 100%;
}

.left-arrow {
    left: 16px;
}

.right-arrow {
    right: 16px;
}

/* --------------- Card info header -----------------------*/
.card-info-header {
    background: none;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 16px;
    box-sizing: border-box;
    color: var(--basic_black);
    /* filter: drop-shadow(0px 0px 2px var(--basic_white)); */
    box-sizing: border-box;
    text-shadow: 1px 1px 1px var(--basic_white),
        1px -1px 1px var(--basic_white),
        -1px 1px 1px var(--basic_white),
        -1px -1px 1px var(--basic_white);

    position: absolute;
    top: 0;
    left: 0;
}

/*-----------------------------------------------*/
.card-info-types img {
    width: 30px;
    background: none;
    padding: 8px;
    border-radius: 50%;
    object-fit: contain;
}

.card-info-types {
    width: 100%;
    background: none;
    padding: 8px;
    border-radius: 50%;
    object-fit: cover;
    text-shadow: 1px 1px 1px var(--basic_white),
        1px -1px 1px var(--basic_white),
        -1px 1px 1px var(--basic_white),
        -1px -1px 1px var(--basic_white);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 1;

    position: absolute;
    top: 10%;
    left: 0;
}

.card-info-types img {    
    filter: drop-shadow(0px 0px 2px var(--basic_white));    
}

/*-----------------------------------------------*/
.card-info-img-type-color {
    width: 100%;
    border-radius: 5px 5px 0 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-info-img-type-color>img {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.card-info-img-type-color>img:hover {
    scale: 1.05;
}

/*-----------------------------------------------*/
.card-info-nav {
    width: 100%;
    margin: auto;

    background: var(--lightgrey);
    border-radius: 32px 32px 20px 20px;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 0px -2px 5px 1px var(--basic_white) inset;

    position: relative;
    top: -30px;
}

.card-info-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 8px 8px 0;
}

.card-info-nav li {
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 3px;

    background: var(--lightgrey);
    color: var(--basic_white);

    font-size: 0.8rem;

    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border-color: var(--lightgrey);
    border-width: 1px;
}

#item3 {
    width: 5rem;
}


.card-info-nav li:hover {
    background: var(--basic_white);
    color: var(--lightgrey);
}

.card-info-nav .selected {
    background: var(--basic_white);
    color: var(--lightgrey);
    font-weight: bold;
    font-size: 1rem;
}

/*-- card content --*/
#card-info-content {
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    flex: 1;

    background: var(--basic_white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------ Info Tabelle -----------*/
#card-info-content table {
    width: 80%;
    border-collapse: collapse;
}

#card-info-content td {
    padding: 5px;
}

#card-info-content td:first-child {
    width: 70px;
}

#card-info-content td:nth-child(2) {
    white-space: nowrap;
}

#card-info-content td:last-child {
    width: 100%;
}

/*---------- Diagramm ------------*/
.bar-with-label {
    display: flex;
    width: 100%;
    align-items: center;
}

.label {
    width: 125px;
    display: inline-block;
    text-align: end;
}

.dia-bar {
    width: var(--dia);
    padding: 0.5rem;
    background: var(--header_color);
    text-align: center;
    height: 1rem;
    margin: 4px 0;
    color: var(--basic_white);
    border-radius: 0 10px 10px 0;
}

.shiny-container {
    width: 80%;
    text-align: center;
}

.shiny-container img {
    width: 50%;
    text-align: center;
}

/*------------*/

.audio-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.audio-container img {
    width: 50px; 
    cursor: pointer;
    background-color: var(--lightgrey);
    border-radius: 50%;
}

.audio-container img:hover {
    scale: 1.1;
}

